@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-roboto: Roboto;
  --headings-bold-48: Raleway;

  /* font sizes */
  --headings-bold-16-size: 1rem;
  --font-size-5xl: 1.5rem;
  --font-size-lg: 1.13rem;
  --headings-bold-48-size: 3rem;
  --font-size-xl: 1.25rem;
  --font-size-21xl: 2.5rem;
  --font-size-sm: 0.88rem;

  /* Colors */
  --ffffff: #fff;
  --color-dimgray-100: #585858;
  --color: #575757;
  --color-darkorange-100: #fb9333;
  --color-darkorange-200: #fa9332;
  --color-darkorange-300: #fb9300;
  --color-gray-100: #828282;
  --b2b2b: #2b2b2b;
  --color-gray-200: rgba(255, 255, 255, 0.8);
  --color-black: #000;
  --text-default-in-field: #999;
  --text-title-text: #333;
  --text-disable: #ccc;
  --color-antiquewhite-100: #fff0dc;
  --color-antiquewhite-200: #fff0da;
  --style: #ffac37;
  --color-orange-100: rgba(250, 157, 50, 0.37);
  --color-whitesmoke: #f5f5f5;

  /* Gaps */
  --gap-128xl: 9.19rem;
  --gap-xl: 1.25rem;
  --gap-13xl: 2rem;
  --gap-4xl: 1.44rem;
  --gap-base: 1rem;
  --gap-6xl: 1.56rem;
  --gap-48xl: 4.19rem;
  --gap-lgi: 1.19rem;
  --gap-5xl: 1.5rem;
  --gap-21xl: 2.5rem;
  --gap-7xs: 0.38rem;
  --gap-xs: 0.75rem;
  --gap-69xl: 5.5rem;
  --gap-11xl: 1.88rem;
  --gap-45xl: 4rem;
  --gap-51xl: 4.38rem;
  --gap-3xs: 0.63rem;
  --gap-225xl: 15.25rem;
  --gap-37xl: 3.5rem;

  /* Paddings */
  --padding-31xl: 3.13rem;
  --padding-116xl: 8.44rem;
  --padding-81xl: 6.25rem;
  --padding-3xs: 0.63rem;
  --padding-base: 1rem;
  --padding-21xl: 2.5rem;
  --padding-20xl-3: 2.46rem;
  --padding-11xl: 1.88rem;
  --padding-5xl: 1.5rem;
  --padding-13xl: 2rem;

  /* border radiuses */
  --br-81xl: 100px;
  --br-31xl: 50px;
  --br-5xs: 8px;
  --br-3xs: 10px;

  /* Effects */
  --jez-salad-card: 0px 50px 80px -30px rgba(151, 109, 0, 0.2);
}
